{% extends 'base.html.twig' %}
{% set flashbeg = app.flashes %}
{% block body %}
    <div class="card my-1">
        <div class="card-body">
            <h2 class="card-title"><center>KONTAKT</center></h2>
            <p class="card-text"><center>Numer telefonu: 600-228-217</center></p>
            <p class="card-text"><center>Adres mailowy: bartlomiej.szyszkowski.worker@gmail.com</center></p>
        </div>
        <div class="card-footer text-muted">
        {#{{ form_start(form,{'attr':{'class':'form-material m-t-40'}}) }}
            {{ form_end(form) }}#}
        </div>
    </div>
{% endblock %}