<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bartlomiej Szyszkowski Portfolio">
    <meta name="author" content="Bartlomiej Szyszkowski">

    <title>{% block title %}Bartłomiej Szyszkowski{% endblock %}</title>

    <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/css/blog-home.css')}}" rel="stylesheet">

</head>

<body class="bg-secondary">
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Bartłomiej Szyszkowski</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Strona Główna
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('post_create') }}">Dodaj post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">O mnie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Szczegóły</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>

<main>{% block body %}{% endblock %}</main>

<footer class="fixed-bottom text-muted py-2 bg-dark">
    <div class="container text-center">
        <p class="m-0 text-center text-white">Copyright &copy; <a href="https://www.linkedin.com/in/bartlomiej-szyszkowski/">Bartlomiej Szyszkowski</a> 2020</p>
    </div>
</footer>

<script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

</body>

</html>
